{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block content %}

<h1>Contact Information</h1>

<p>
    Personal Inquiries:
    <br>
    rfatimaalvi@gmail.com
</p>

<p>
    Business Inquiries:
    <br>
    founder@muslimprofmd.com
</p>

<p>
    Deloitte Related Inquiries:
    <br>
    ralvi@deloitte.com
</p>

<p>
    LinkedIn:
    <br>

    <a href="https://www.linkedin.com/in/ridafatimaalvi/" target="_blank">
        linkedin.com/in/ridafatimaalvi
    </a>
</p>

{% endblock content %}